<!DOCTYPE html>
<html>
<head>
  <title>Restful2App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
<div class= "flash notice">
	<%=flash[:notice] %>
</div>
<% end %>

<%= yield %>

</body>
</html>
